@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
html {
    background-color: #111111;
}
body {
    /* width: 90rem; */
    /* height: 290.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Zen Maru Gothic;
}
.flex {
    display: flex;  
}
#logo {
    color: var(--yellow, #FFC700);
    font-family: Zen Maru Gothic;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5625rem; /* 237.5% */
    letter-spacing: -0.06rem;
}
nav {
    width: 75rem;
    height: 3.5625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
#navigation {
    width: 22.0625rem;
    height: 1.4375rem;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}
.navlinks {
    color: #FFF;
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
ul {
    list-style-type: none;
    display: flex;
    width: 22.0625rem;
    height: 1.4375rem;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding:0;
}

#join-team-button {
    width: 7.1875rem;
    height: 2.6875rem;
    border-radius: 3.125rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    
}
#join-team-button p {
    color: var(--black, #111);
    text-align: center;
    font-family: Zen Maru Gothic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0;
    margin: 0;
}
#button-right {
    width: 50px; 
    height: 41px; 
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='41' viewBox='0 0 50 41' fill='none'%3E%3Crect x='9' width='41' height='41' rx='20.5' fill='white'/%3E%3Crect y='11' width='18' height='19' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #button-right svg {
    padding-left: 20%;
  }
#container {
    width:100%;
    display: flex;
    justify-content: center;
}
#big-grey {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54vw;
    height: 36.5rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--dark-grey, #222);
    padding:3.12rem;
}
#container .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#container .right .white-box {
    border-radius: 1.875rem;
    background: var(--white, #FFF);
    width: 37.3125rem;
    height: 15.875rem;
    flex-shrink: 0;
}
#container .right .blue-box {
    width: 22.25rem;
    height: 14.4375rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--blue, #4800E2);
}
#container .right .pink-box {
    width: 14.75rem;
    height: 14.4375rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    background: var(--pink, #E3007B);
}
#smoltext {
    color: var(--yellow, #FFC700);
    font-family: Zen Maru Gothic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2.81rem;
}
#big-grey .bottom p {
    width: 31.375rem;
    color: var(--yellow, #FFC700);
    font-family: Zen Maru Gothic;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#big-grey .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#big-grey .flex svg {
    fill: var(--yellow, #FFC700);
}
#biggy-text {
    width: 30.125rem;
    height: 10.1875rem;
    flex-shrink: 0;
    color: var(--yellow, #FFC700);
    font-family: Zen Maru Gothic;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5625rem; /* 101.786% */
    letter-spacing: -0.14rem;
    margin:0;
}
#big-grey .bottom div {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    
}
#plus {
    text-align: right;
    position: relative;
    right: -2.9rem;
    top:-0.2rem;
    color: var(--white, #FFF) !important;
    font-family: Zen Maru Gothic;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bottom div svg {
    width: 4.625rem;
    height: 4.625rem;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--white, #FFF);
}